.maxPicture {
	height: 150px;
}


.maxPicture {
	height: 50px;
	width: 50px;
	padding: 50px;
}

nav {
  background-color: #f2f3f5;
}

/*.container-fluid text-center {
	background-color: rgba(0, 0, 0, 0.5);
    color: grey;
    font-size: 15px;
    padding: 20px 0;
    margin-top: 50px;
    padding-top: 20px;
}
*/

.jumbotron {
  background-color: #f2f3f5;
}


footer {
      background-color: gray;
      height: 70px;
    

    }

.media {
  width: 62px;
  height: 62px;
  margin: auto;
}

.paragraph {
  font-family: 'Lato', Georgia, sans-serif;
}

.about-paragraph {
  font-color: white;
}

#connect {
  font-family: 'Lato', Georgia, sans-serif;
  font-size: 70px;
  width: 80px;
}
